.contener {
  text-align: center;
  /*margin: auto;*/
  background-color: rgba(0, 248, 174, 0.993);
  border-radius: 5%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 0px;
}
.result {
  background-color: rgb(187, 148, 148);
  margin: 50px;
  padding-top: 50px;
  border-radius: 5%;
  height: 40vh;
  border: black;
}
button {
  background-color: rgba(146, 252, 252, 0.61);
  color: rgba(180, 19, 67, 0.753);
  margin: 10px;
  padding: 10px;
  font-size: larger;
  border-radius: 5px;
  min-width: 5vwnp;
}
button:hover {
  background-color: chartreuse;
  color: blue;
}
